
body {
    display: flex;
    justify-content: flex-start;  
    align-items: flex-start;  
    min-height: 100vh;
    margin: 0;
    background-image: url('img/cinema.jpg'); 
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;  
    flex-direction: column;  
}

/* Header Styling */
header {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px; 
}

header h1 {
    font-size: 2rem;
    margin: 0;
    
}

header p {
    font-size: 1rem;
}

/* movie section and its contents */
section.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 20px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto; 
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: 10px;
    color: white;
}


section.movies h2 {
    text-align: center; 
    font-size: 2rem;
    margin-bottom: 30px; 
    width: 100%; 
}

/* Movie Section: Movie container */
.movie {
    margin-bottom: 20px;
    padding: 10px;
    width: 250px; 
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center; 
}

/* Styling for Movie Titles */
.movie h3 {
    margin: 0 0 10px;
    font-size: 1.5rem;
}

.movie p {
    margin: 5px 0;
}

.movie a {
    color: #00f;
    text-decoration: none;
}

.movie a:hover {
    text-decoration: underline;
}
